<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>AwesomeWeather Welcome Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>


<body>

<div class="site-content">
    <div class="site-header">
        <div class="container">
            <a href="index.html" class="branding">
                <img src="images/logo@2x.png" alt="" class="logo">
                <div class="logo-type">
                    <h1 class="site-title">Awesome Weather</h1>
                    <small class="site-description">The best weather forecast site on the globe</small>
                </div>
            </a>

        </div>
    </div> <!-- .site-header -->

    <div class="hero" style="background-image: url('/images/banner.png');">
        <div class="container">
            <p id="message"></p>
            <form action="#" th:action="@{/location}" method="get" class="find-location">
                <input type="text" name="cityName" placeholder="Find your location...">
                <input type="submit" value="Find">
            </form>

        </div>
    </div>

    <div class="forecast-table">
        <div class="container">
            <div class="forecast-container">
                <div class="today forecast">
                    <div class="forecast-header">
                        <div id="day" class="day" th:text="${owm.current.dayOfWeek}">NaN</div>
                        <div id="date" class="date" th:text="${owm.current.dayAndMonth}">NaN</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div id="city" class="location" th:text="${owm.locationName}">City?</div>
                        <div class="degree">
                            <div id="temp" class="num" th:text="${owm.current.temp} + '°C'">NaN</div>
                            <div class="forecast-icon">
                                <img id="wicon" th:src="${owm.current.weather[0].icon}" alt="" width=90>
                            </div>
                        </div>
                        <span id="description" th:text="${owm.current.weather[0].description}"></span><br>
                        <span id="humidity"><img src="images/icon-humidity.png" alt=""
                                                 th:text="${owm.current.humidity}+'%'"></span>
                        <span id="wind-speed"><img src="images/icon-wind.png" alt=""
                                                   th:text="${owm.current.wind_speed}+'km/h'"></span>
                        <span><img src="images/icon-compass.png" alt="">East</span>
                    </div>
                </div>
                <div class="forecast" th:each="daily:${owm.daily}">
                    <div class="forecast-header">
                        <div id="day1" class="day" th:text="${daily.dayOfWeek}">Tuesday</div>
                    </div>
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <img id="day1icon" th:src="${daily.weather[0].icon}" alt="" width=48>
                        </div>
                        <div id="day1day" class="degree" th:text="${daily.temp.max} + '°C'"></div>
                        <small id="day1night" th:text="${daily.temp.min} + '°C'"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter your email to subscribe...">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <p class="colophon">Copyright 2020 Bálint Magyar. All rights reserved</p>
        </div>
        <!--p id="raw-data"></p-->
    </footer>
</div>
<script src="js/plugins.js"></script>
<script src="js/rest.js"></script>
</body>

</html>